


body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-size: cover;
  overflow: hidden;
  min-height: 100%;
  font-family: 'Press Start 2P', cursive;
}

.modal{
  position: fixed!important;
  background-color: rgb(78, 163, 243);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border: solid white 6px;
}

.start-modal{
  height: 100%;
  width: 100%;
  background-image: url(../images/island.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.instructions-modal{
  height: 100%;
  width: 100%;
  border: none;
}


.match{
  position: fixed;
  background-color: none;

  height: 100%;
  width: 100%;
   display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.match > h1{
  background-color: black;
  color: #fdb7e7!important;
  border: 5px solid #fdb7e7;

}




/* HEADING AREA */
h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  padding: 2rem;
}

.heading-row{
  height: 10%;
  display: flex;
  justify-content: center;
}


/* GAME AREA */
.main-row{
  height: 80%;
}



/* STATS AREA */

.stats-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.stats{
  background-color: aqua;
  height: 12%;
 text-align: center;
}

.nes-container{
  background-color: black!important;
  padding: 0!important;
}

.stats-title {
    color: black;
    background-color: white;
    text-align: center;
    padding: 3px;
}

.numbers {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;

}

/* CARDS AREA */
.card-container {
  display: flex;
  flex-wrap: wrap;

}

.cards{
  height: 100%;
  margin: .5rem ;
  position: relative;


}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;

}

.card-back {
  background-image: url(../images/hang-loose-card.png);
  background-color: black;
  background-size: contain;

}


.js-logo {
  background-image: url(../images/crab.png);
}
.js-logo1{
  background-image: url(../images/crab-hawaiian.png);
}
.css-logo{
  background-image: url(../images/fish.png);
}
.css-logo1{
  background-image: url(../images/fish-hawaiian.png);
}
.docker-logo{
  background-image: url(../images/turtle.png);
}
.docker-logo1{
  background-image: url(../images/turtle-hawaiian.png);
}
.gitHub-logo{
  background-image: url(../images/hello.png);
}
.gitHub-logo1{
  background-image: url(../images/hello-hawaiian.png);
}
.html-logo{
  background-image: url(../images/shark.png);
}
.html-logo1{
  background-image: url(../images/shark-hawaiian.png);
}
.mysql-logo{
  background-image: url(../images/lizard.png);
}
.mysql-logo1{
  background-image: url(../images/lizard-hawaiian.png);
}
.node-logo{
  background-image: url(../images/thankyou.png);
}
.node-logo1{
  background-image: url(../images/thankyou-hawaiian.png);
}
.php-logo{
  background-image: url(../images/man.png);
}
.php-logo1{
  background-image: url(../images/man-hawaiian.png);
}
.react-logo{
  background-image: url(../images/woman.png);
}
.react-logo1{
  background-image: url(../images/women-hawaiian.png);
}

.hidden {
  display: none;
}


/* MODAl */


.allStats{
  display: flex;
  justify-content: space-between;
}

.modalDiv {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-middle-text{
  margin-bottom: 2rem;
  color: white;


}

.instructions-middle-text{
  margin: 1rem 1rem 2rem 1rem;
  color: white;
  font-size: 1rem;
  width: 50%;
}

.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

.instructions-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-instructions-container{
  display: flex;
  align-items: center;
  justify-content: center;


}
.middle-instructions-container > img{
  width: 35%;
  height: 35%;
}
.red{
  color: white;
}


/* iPad Styling */

/* @media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) { /* STYLES GO HERE }*/

/* @media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) { /* STYLES GO HERE  } */

/* iPhone 6/7/8 Styling */

/* @media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) { /* STYLES GO HERE }

/* @media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) { STYLES GO HERE  } */
