



body{
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/lfz-background.jpg");
  background-size: cover;
}

.modal{
  position: fixed;
  background-color: rgb(78, 163, 243);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* HEADING AREA */
h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.heading-row{
  height: 10%;
  display: flex;
  justify-content: center;
}


/* GAME AREA */
.main-row{
  height: 80%;
}



/* STATS AREA */

.stats-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between

}

.stats{
  background-color: aqua;
  height: 12%;
 text-align: center;
}





/* CARDS AREA */
.card-container {
  display: flex;
  flex-wrap: wrap;

}

.cards{
  height: 90%;
  margin: .5rem ;
  position: relative;
  /* background-image: url(../images/lfz-card.jpg);
  background-size: cover;
  background-position: center; */
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;

}

.card-back {
  background-image: url(../images/lfz-card.jpg);
}
.js-logo {
  background-image: url(../images/js-logo.png);
}
.css-logo{
  background-image: url(../images/css-logo.png);
}
.docker-logo{
  background-image: url(../images/docker-logo.jpg);
}
.gitHub-logo{
  background-image: url(../images/gitHub-logo.png);
}
.html-logo{
  background-image: url(../images/html-logo.png);
}
.mysql-logo{
  background-image: url(../images/mysql-logo.jpg);
}
.node-logo{
  background-image: url(../images/node-logo.png);
}
.php-logo{
  background-image: url(../images/php-logo.jpeg);
}
.react-logo{
  background-image: url(../images/react-logo.png);
}

.hidden {
  display: none;
}
